@using Newtonsoft.Json;
@model ChessCore.Models.MainPageViewModel
@{
    ViewBag.Title = "ChessWeb";
}
@*<p> @Model.Cases.ToList().Count() </p>*@
@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<script src="~/js/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
<script type="text/javascript">


    // TIMES
    var oldTimeGlobal = new Date();
    var oldTurn = ""
    var newTimeGlobal = null;
    //var reflectionStartTime = Date.now();
    var totalSecondsReflection = 0;
    var totalSecondsBlack = 0;
    var totalSecondsWhite = 0;
    
    setInterval(updateTimersGlobal, 100);

    function updateTimersGlobal() {

      //  globaCurrentTurn = currentColor;
        //console.clear();
        //console.log('currentElapsed    ' + currentElapsed);
        if (oldTurn != currentColor) 
        {
            totalSecondsReflection = 0;
            oldTurn = currentColor;
        }
        var endDate = new Date();
        //  alert(endDate);
        var miliSeconds = (endDate.getTime() - oldTimeGlobal.getTime());
        // alert(seconds);
        if (miliSeconds >= 1000) {
            oldTimeGlobal = new Date()

            if (currentColor == "W") {
                ++totalSecondsWhite;
               // document.getElementById('clock').textContent = formatTime((totalSecondsTEST));
                
            }
            else
            {
                ++totalSecondsBlack;
               
               // document.getElementById('clock').textContent = formatTime((totalSecondsTEST));
            }
            ++totalSecondsReflection;
        }
        document.getElementById('whiteTimeLabel').textContent = formatTime((totalSecondsWhite));
        document.getElementById('blackTimeLabel').textContent = formatTime((totalSecondsBlack));
        document.getElementById('clock').textContent = formatTime((totalSecondsReflection));

    }
    // Formater le temps en MM:SS
    function formatTime(totalSeconds) {
        const minutes = Math.floor(totalSeconds / 60);
        const seconds = totalSeconds % 60;
        return `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
    }



    document.addEventListener("DOMContentLoaded", function () {
        var checkboxIsFullCPU = document.getElementById("isActiveFullCPU");
        var level = document.getElementById("level");
        var computerColor = document.getElementById("computerColor");
        var whiteLevel = document.getElementById("FullCPUWhiteLevel");
        var blackLevel = document.getElementById("FullCPUBlackLevel");
         var whiteEngine = document.getElementById("FullCPUWhiteEngine");
        var blackEngine = document.getElementById("FullCPUBlackEngine");

        function toggleLevels() {
            if (checkboxIsFullCPU.checked) {
                level.disabled = true; // Désactive le niveau normal
                computerColor.disabled = true;
                whiteLevel.disabled = false;
                blackLevel.disabled = false;
                whiteEngine.disabled = false;
                blackEngine.disabled = false;



            } else {
                level.disabled = false;
                computerColor.disabled = false;
                whiteLevel.disabled = true;
                blackLevel.disabled = true;
                whiteEngine.disabled = true;
                blackEngine.disabled = true;

            }
        }

        // Ajoute un écouteur d'événement sur la checkbox
        checkboxIsFullCPU.addEventListener("change", toggleLevels);

        // Appel initial pour s'assurer que l'état est correct au chargement
        toggleLevels();
    });


    function start() {
        var computerColor = $('#computerColor').val();

        var checkboxIsFullCPU = document.getElementById('isActiveFullCPU');
        var isFullCPU = checkboxIsFullCPU.checked;
        // alert(checkboxIsFullCPU.checked);
        // Vérifier si le checkbox est coché
        // if (checkbox.checked)
        //var isActiveFullCPU = $('#isActiveFullCPU').val();


        // var duration = $('#duration').val();
        //var selectedLevel = $('#level').val();
        //TODO remmetre le leve
        var selectedLevel = $('#level').val();
        var selectedEngine = $('#engine').val();
        var selectedWhiteEngine = $('#FullCPUWhiteEngine').val();
        var selectedBlackEngine = $('#FullCPUBlackEngine').val();
        var SelectedReflectionTimeInMinute = $('#MaxReflectionTimeInMinute').val();
        var FullCPUBlackLevel = $('#FullCPUBlackLevel').val();
        var FullCPUWhiteLevel = $('#FullCPUWhiteLevel').val();

        //alert(computerColor);
        var data = { objId: -1, whiteTimeInSecond: 0, blackTimeInSecond: 0,
            SelectedEngine: selectedEngine,
            SelectedWhiteEngine: selectedWhiteEngine,
            SelectedBlackEngine: selectedBlackEngine,

            CPUColor: computerColor, selectedLevel: selectedLevel, 
            isFullCPU: isFullCPU, FullCPUWhiteLevel: FullCPUWhiteLevel, FullCPUBlackLevel: FullCPUBlackLevel,
            SelectedReflectionTimeInMinute: SelectedReflectionTimeInMinute
        };
        $.ajax({
            type: "POST",
            url: "/Home/Details",
            data: data,
            contentType: 'application/x-www-form-urlencoded',
            dataType: "html",
            success: function (response) {
                $('#dvPartial').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };

    function SaveLoadingBoard() {

        //var selectedLevel = $('#level').val();
        //TODO remmetre le leve
        var selectedLevel = '4';
        //alert(computerColor);
        var data = {};
        $.ajax({
            type: "POST",
            url: "/Home/SaveLoadingBoard",
            data: data,
            contentType: 'application/x-www-form-urlencoded',
            dataType: "html",
            success: function (data) {

                window.location.href = '@Url.Action("SaveBoard", "Home")';
                //window.location.href = '@Url.Action("Index", "Home")';
                console.log('Upload successfully');
            }
        });

    };


    function Print() {


        //html2canvas(document.body).then(function (canvas) {
        //  document.body.appendChild(canvas);
        //});
        html2canvas(document.body, { background: '#fff' }).then(function (canvas) {

            //document.body.appendChild(canvas);

            // Get base64URL
            var base64URL = canvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream');
            // var Cases = '@Model.Cases';
            //  alert(Cases);
            // Convertir la liste d'objets en une chaîne JSON
            // var casesJSON = JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(Model.PawnCases)));

            var casesJSON = JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(Model.Cases)));


            // alert(base64URL);
            // AJAX request
            $.ajax({
                url: '/Home/SavePrintScreen',
                type: 'post',
                data: { image: base64URL, cases: casesJSON },
                success: function (data) {

                    window.location.href = '@Url.Action("SaveBoard", "Home")';
                    console.log('Upload successfully');
                }
            });
        });



    }


</script>
<div>
    <div>
        <form asp-controller="Home" asp-action="UploadFile" method="post"
              enctype="multipart/form-data">
            <input type="file" name="file" accept=".Chess.zip" />
            <button type="submit">Upload File</button>
        </form>

        @if (Model.IsFormLoander)
        {
            <h6>Historique : </h6>
            <div class="d-flex">
                <div class="d-inline-block">
                    <div id="history_div" style="width: 150px; height: 700px; overflow-y: scroll;">
                        @if (Model.MovingList != null)
                        {
                            @* @Model.MovingList.Count *@
                            foreach (var line in Model.MovingList)
                            {
                                @line
                                <br />
                            }
                        }
                    </div>
                    @*<button onclick="SavehistoryClicked()">download</button>*@
                    <a href="@Url.Action("Preview", "Home")">
                        <button type="button" title="Preview" class="fas fa-backward">
                        </button>
                    </a>
                    @* <button onclick="SaveLoadingBoard()">save</button> *@
                    <button class="fa fa-camera" class="fa fa-save" onclick="Print();" title="print/save">
                    </button>
                    <a href="@Url.Action("Next", "Home")">
                        <button type="button" class="fas fa-forward" title="Next">
                        </button>
                    </a>


                    @*  @Html.ActionLink("save historique", "SaveHistory")*@
                </div>

                @*on ajoute une espace pour la version inverser*@
                @if (Model.RevertWrapperClass == "revertWrapper")
                {
                    <div class="d-inline-block" style="width: 100px;">
                    </div>
                }

                <div class="d-inline-block" style="margin-top: 43px;">
                    @{
                        if (Model.RevertWrapperClass == "revertWrapper")
                        {
                            string[] coordYArray = { "1", "2", "3", "4", "5", "6", "7", "8" };

                            foreach (var coordY in coordYArray)
                            {
                                                <div style="height:70px; background-color: #04AA6D;">
                                                    <label style="font-weight: bold; margin-top: 25px"> @coordY &nbsp;</label>
                                                </div>

                            }
                        }
                        else
                        {
                            string[] coordYArray = { "8", "7", "6", "5", "4", "3", "2", "1" };

                            foreach (var coordY in coordYArray)
                            {
                                                <div style="height:70px; background-color: #04AA6D;">
                                                    <label class="@Model.RevertWrapperClass" style="font-weight: bold; margin-top: 25px"> @coordY &nbsp</label>
                                                </div>

                            }
                        }

                    }
                </div>
                <div class="d-inline-block" style="width: 500px;">

                    <div class="wrapper @Model.RevertWrapperClass">
                        <div class="top">

                            <div class="wrapper-inner">
                                <div align="left">
                                    <label class="@Model.RevertWrapperClass">@Model.GetBlackScoreString() </label>
                                </div>

                                <div align="right">
                                    @if (Model.HuntingBoardWhiteImageList != null)
                                    {
                                        foreach (var imageSrc in Model.HuntingBoardWhiteImageList)
                                        {
                                            <img src=@imageSrc width="25" height="25"
                                                 class="@Model.RevertWrapperClass" />

                                        }
                                    }

                                </div>

                            </div>
                        </div>
                        @for (int i = 0; i < 8; i++)
                        {
                            for (int j = 0; j < 8; j++)
                            {
                                <div class="box"
                                     onclick="DivClicked(@Model.GetPawn(j + (8 * i)).Index); return true;">
                                    @* <p>@Model.GetPawn(j + (8 * i)).Index</p>*@


                                    @if (@Model.GetPawn(j + (8 * i)).ImageIsExist)
                                    {
                                        <img src=@Model.GetPawn(j + (8 * i)).PawnImageSrc width="50" height="50"
                                             class="@Model.GetPawn(j + (8 * i)).SelectedClass @Model.RevertWrapperClass" />
                                    }
                                    else
                                    {
                                        <img src="" width="5" height="5"
                                             class="@Model.GetPawn(j + (8 * i)).SelectedClass @Model.RevertWrapperClass" />
                                    }
                                    @*<img src="~/Images/BishopBlack.png" width="50" height="50" />*@
                                    <div class="caseNumber" style=" font-size: 10px;">@(j + (i * 8))</div>

                                </div>
                            }
                        }

                        <div class="bottom">
                            <div>
                                @{
                                    string[] coordXArray = { "A", "B", "C", "D", "E", "F", "G", "H" };

                                    foreach (var coordX in coordXArray)
                                    {
                                                        <label class="@Model.RevertWrapperClass" style="width: 66px; font-weight: bold;">&nbsp; &nbsp; &nbsp; @coordX</label>
                                    }

                                                    <div class="wrapper-inner">
                                                        <div align="left">
                                                            <label class="@Model.RevertWrapperClass">@Model.GetWhiteScoreString() </label>
                                                        </div>

                                                        <div align="right">
                                                            @if (Model.HuntingBoardBlackImageList != null)
                                            {
                                                foreach (var imageSrc in Model.HuntingBoardBlackImageList)
                                                {
                                                                    <img src=@imageSrc width="25" height="25"
                                                                         class="@Model.RevertWrapperClass" />

                                                }
                                            }
                                                        </div>


                                                    </div>

                                }
                            </div>
                        </div>


                    </div>
                </div>

            </div>




        }

        <br />
    </div>
    @*
    <label for="duration">duration:</label>
    <select id="duration">
    <option  value="24h">24h</option>
    <option selected value="1h">1h</option>
    <option value="30mn">30mn</option>
    <option value="15mn">15mn</option>
    <option value="1mn">1mn</option>

    </select> *@

    @*     <label for="level">level:</label>
    <select id="level">
    <option value="1">1</option>
    <option value="2">2</option>
    <option  value="3">3</option>
    <option  value="4">4</option>
    <option  value="5">5</option>
    <option selected value="6">6</option>
    </select> *@

    <label for="engine" title="Chess Engine"> ⚙️</label>
    <select id="engine" name="SelectedEngine" title="Chess Engine">
        @foreach (var engine in Model.Engines)
        {
            <option value="@engine.GetShortName()" selected="@(engine == Model.SelectedEngine ? "selected" : null)">
                @engine.GetShortName()
            </option>
        }
    </select>
    <label>|</label>
    <label for="level" title="Computer level"> L:</label>
    <select id="level" name="SelectedLevel" title="Computer level">
        @foreach (var level in Model.Levels)
        {
            <option value="@level" selected="@(level == Model.SelectedLevel ? "selected" : null)">
                @level
            </option>
        }
    </select>
   
    <label for="MaxReflectionTimeInMinute" title="IA maximum reflection time in minute">⏳:</label>
    <select id="MaxReflectionTimeInMinute" name="MaxReflectionTimeInMinute" title="IA maximum reflection time in minute">
        >
        @foreach (var reflectionTimeInMinute in Model.ReflectionTimesInMinute)
        {
            <option value="@reflectionTimeInMinute" selected="@(reflectionTimeInMinute == Model.SelectedReflectionTimeInMinute ? "selected" : null)">
                @reflectionTimeInMinute
            </option>
        }
    </select>
    <label>|</label>



    <label for="color" title="Computer color">🤖</label>
     <select id="computerColor" title="Computer color">
        <option class="whiteFont sectionBG" value="W">White</option>
        <option class="blackFont sectionBG" value="B">Black</option>
    </select> 
    @* <div class="custom-select">
        <div class="option" data-value="W">
            <i class="fas fa-robot"></i> White
        </div>
        <div class="option" data-value="B">
            <i class="fas fa-robot"></i> Black
        </div>
    </div> *@


    <br />
    <label title="Full CPU">🤖⚔️🤖 </label>
    <input id="isActiveFullCPU"
           name="isActiveFullCPU"
           type="checkbox"
           title="Full CPU"/>
    
    <label>|</label>
    <label for="FullCPUWhiteLevel" title="White level" class="fa-solid fa-robot" style=" color: white;"></label>
    <label for="FullCPUWhiteEngine" title="Chess Engine"> ⚙️</label>
    <select id="FullCPUWhiteEngine" name="SelectedFullCPUWhiteEngine" title="White Chess Engine">
        @foreach (var engine in Model.Engines)
        {
            <option value="@engine.GetShortName()" selected="@(engine == Model.SelectedWhiteEngine ? "selected" : null)">
                @engine.GetShortName()
            </option>
        }
    </select>

   <select id="FullCPUWhiteLevel" name="SelectedWhiteLevel" title="White level">
        @foreach (var level in Model.Levels)
        {
            <option value="@level" selected="@(level == Model.SelectedWhiteLevel? "selected" : null)">
                @level
            </option>
        }
    </select>
@* 
    <label for="FullCPUBlackLevel">Black level:</label>
    <select id="FullCPUBlackLevel">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option selected value="6">6</option>
    </select> *@
    <label for="FullCPUBlackLevel" title="Black level" class="fa-solid fa-robot" style=" color: black;"></label>
    <label for="FullCPUBlackEngine" title="Black Chess Engine"> ⚙️</label>
    <select id="FullCPUBlackEngine" name="SelectedFullCPUBlackEngine" title="Black Chess Engine">
        @foreach (var engine in Model.Engines)
        {
            <option value="@engine.GetShortName()" selected="@(engine == Model.SelectedBlackEngine ? "selected" : null)">
                @engine.GetShortName()
            </option>
        }
    </select>
    
    <select id="FullCPUBlackLevel" name="SelectedBlackLevel" title="Black level">
        @foreach (var level in Model.Levels)
        {
            <option value="@level" selected="@(level == Model.SelectedBlackLevel? "selected" : null)">
                @level
            </option>
        }
    </select>
    <label>|</label>
    <button onclick="start()" title="play" class="fas fa-play"></button>
</div>
<div id="dvPartial"></div>










